# ============================================
# CONFIGURACIÓN QUARTO - PORTFOLIO
# ============================================

project:
  type: website
  output-dir: docs

# ============================================
# CONFIGURACIÓN DEL SITIO
# ============================================
website:
  title: "Ag_St4"
  favicon: assets/logo.svg
  description: "Mi Portafolio personal sobre economía y carta de presentación."
  
  # Navegación
  navbar:
    logo: assets/logo.svg       # <--- CAMBIADO A .svg
    background: "#0b0c15"
    left:
      - text: "Home"
        href: index.qmd
      - text: "Proyectos"
        href: projects.qmd
      - text: "Apuntes"          # <--- AQUÍ EMPIEZA EL CAMBIO
        menu:
          - text: "Biblioteca de Apuntes del Grado"
            href: content/notes/library/index.qmd
          - text: "---"          # (Separador visual)
          - text: "Microeconomía - Examen de Grado"
            href: content/notes/library/micro/index.qmd
          - text: "Macroeconomía - Examen de Grado"
            href: content/notes/library/macro/index.qmd
          - text: "Econometría - Examen de Grado"
            href: content/notes/library/metrics/index.qmd
          - text: "---"          # (Separador visual)
          - text: "Apuntes Generales de Economía y Negocios"
            href: content/notes/aditional/index.qmd
      - text: "Tópicos"
        menu:
          - text: "Índice de Tópicos"
            href: content/topics/index.qmd
          - text: "---"
          - text: "Microeconomía Aplicada"
            href: content/topics/micro_applied/index.qmd
          - text: "Finanzas & Inversiones"
            href: content/topics/finance_investments/index.qmd
          - text: "Sustentabilidad"
            href: content/topics/sustainability/index.qmd
          - text: "---"
          - text: "Últimas Revisiones"
            href: topics.qmd
      - text: "CV"
        href: cv.qmd
    
    right:
      - icon: github
        href: https://github.com/AgSt4
      - icon: linkedin
        href: https://www.linkedin.com/in/agustinsandovaltapia/

# ============================================
# FORMATO HTML
# ============================================
format:
  html:
    theme:
      light: [flatly, styles.css] # Base limpia para día
      dark: [darkly, styles.css]  # Base sólida para noche
    css: styles.css
    toc: true
    smooth-scroll: true
    link-external-newwindow: true