on:
  push:
    branches: main

name: Render and Publish

permissions:
  contents: write
  pages: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      # 1. Instala Quarto y TinyTeX automáticamente
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true 
      
      # 2. Instala Fuentes y Paquetes LaTeX (Nombres corregidos)
      - name: Install Fonts and LaTeX Packages
        run: |
          # Fuentes del sistema
          sudo apt-get update
          sudo apt-get install -y fonts-firacode fonts-fira-sans

          # Actualizar tlmgr e instalar paquetes
          # NOTA: Se cambió 'graphicx' por 'graphics' y 'ifthen' por 'tools'
          tlmgr update --self
          tlmgr install babel-spanish babel-english beamer pgf xcolor amsmath amsfonts geometry fancyhdr graphics hyperref tools etoolbox translator

      # 3. Renderizar y Publicar
      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
