on:
  push:
    branches: main

name: Render and Publish

permissions:
  contents: write
  pages: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      # 1. Instala Quarto y TinyTeX
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true

      # 2. Instala los paquetes (AHORA CON LA RUTA ARREGLADA)
      - name: Install LaTeX Theme & Fonts
        run: |
          # Le decimos a Linux dónde está TinyTeX (Esta es la línea mágica)
          export PATH="$HOME/.TinyTeX/bin/x86_64-linux:$PATH"
          
          # Actualizamos e instalamos solo lo necesario para Metropolis y Fira
          tlmgr update --self
          tlmgr install beamertheme-metropolis fira pgfopts moresize anyfontsize fontaxes

      # 3. Renderiza y Publica
      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
