on:
  push:
    branches: main

name: Render and Publish

permissions:
  contents: write
  pages: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      # 1. Instala Quarto y TinyTeX automáticamente
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true

      # 2. Instala SOLO los paquetes que usa tu tema (Metropolis + Fira)
      - name: Install LaTeX Theme & Fonts
        run: |
          # Actualizar el gestor de paquetes
          tlmgr update --self
          
          # Instalar explícitamente Metropolis, Fira y utilidades de Beamer
          tlmgr install beamertheme-metropolis fira pgfopts moresize anyfontsize

      # 3. Renderiza y Publica
      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
